n8n/agendar_citas_web_sandramar_actualizado.json
{
  "name": "agendar_citas_web_sandramar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agendar-citas-sandramar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        -144
      ],
      "id": "23c2dde5-be61-4ea5-8e58-35799d009f75",
      "name": "Webhook",
      "webhookId": "701e08e2-eb83-4f75-b922-77cdc15b36c4"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json.body\n\nif (!data.fechaCompleta || !data.timezone) {\n  throw new Error('Faltan campos: fechaCompleta o timezone')\n}\n\n// Interpretar fecha completa como UTC\nconst userDate = new Date(data.fechaCompleta)\nif (isNaN(userDate.getTime())) {\n  throw new Error('fechaCompleta no es una fecha válida')\n}\n\n// Duración\nconst duracionTexto = data.servicioDetalle?.duracion || '75 minutos'\nconst minutos = parseInt(duracionTexto.match(/\\d+/)?.[0] || '75')\nconst endDate = new Date(userDate.getTime() + minutos * 60000)\n\n// Visualización en hora Colombia (para la Dra.)\nconst optionsColombia = { timeZone: 'America/Bogota', dateStyle: 'full', timeStyle: 'short' }\nconst start_local = userDate.toLocaleString('es-CO', optionsColombia)\nconst end_local = endDate.toLocaleString('es-CO', optionsColombia)\n\n// Visualización en hora del USUARIO (para el email al cliente)\nconst userTimezone = data.timezone || 'America/Bogota'\nconst optionsUser = { timeZone: userTimezone, weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }\nconst optionsUserTime = { timeZone: userTimezone, hour: '2-digit', minute: '2-digit', hour12: true }\n\nconst fechaUsuario = userDate.toLocaleDateString('es-ES', optionsUser)\nconst horaUsuario = userDate.toLocaleTimeString('es-ES', optionsUserTime)\nconst horaFinUsuario = endDate.toLocaleTimeString('es-ES', optionsUserTime)\n\n// Detectar si es la misma zona horaria que Colombia\nconst esMismaZona = userTimezone === 'America/Bogota'\nconst textoZonaHoraria = esMismaZona ? 'Hora Colombia' : userTimezone.replace('_', ' ').split('/').pop()\n\nconst whatsappJid = data.telefono.replace(/\\D/g, '') + '@s.whatsapp.net'\n\nreturn [{\n  json: {\n    ...data,\n    start: userDate.toISOString(),\n    end: endDate.toISOString(),\n    start_local,\n    end_local,\n    // NUEVO: Datos formateados para el email al cliente\n    fechaUsuario,\n    horaUsuario,\n    horaFinUsuario,\n    textoZonaHoraria,\n    esMismaZona,\n    whatsappJid,\n    title: `${data.servicioDetalle?.nombre || 'Sesión'} - ${data.nombre}`,\n    location: data.modalidad === 'presencial'\n      ? data.modalidadDetalle?.ubicacion\n      : 'Sesión por Zoom',\n    description: [\n      `📍 Modalidad: ${data.modalidadDetalle?.tipo || 'N/A'}`,\n      data.modalidadDetalle?.indicaciones,\n      data.mensaje ? `📝 Mensaje: ${data.mensaje}` : '',\n      `⏱ Duración: ${data.servicioDetalle?.duracion || '75 minutos'}`,\n      data.pagado ? `💳 Pago: ${data.pagoEstado} - ${data.pagoReferencia}` : ''\n    ].filter(Boolean).join('\\n')\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -144
      ],
      "id": "e4ab3525-5093-41fb-a97a-c9898d842163",
      "name": "Code"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sandramarpsicology@gmail.com",
          "mode": "list",
          "cachedResultName": "sandramarpsicology@gmail.com"
        },
        "start": "={{ $json.start }}",
        "end": "={{ $json.end }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ $json.description }}",
          "location": "={{ $json.location }}",
          "summary": "={{ $json.title }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 1440
            },
            {
              "method": "popup",
              "minutes": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        64,
        -144
      ],
      "id": "4717a6d2-0cb6-47f0-8159-b8b746c16b19",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "WwOHVvCLmsGrsVji",
          "name": "SandraMar Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "appointment_slots",
        "fields": "date, startTime, endTime, serviceType, isBooked, nombre, email, telefono, whatsappJid, modalidad, mensaje, timezone, servicioDetalle, modalidadDetalle, title, location, description, calendarEventId, calendarLink, timestamp, fechaCompleta, source, createdAt, pagado, pagoEstado, pagoTransaccionId, pagoReferencia, pagoMonto, pagoMoneda, pagoFecha, pagoMetodo, status, fechaUsuario, horaUsuario, horaFinUsuario, textoZonaHoraria",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        512,
        -144
      ],
      "id": "61d3d725-aba0-43c0-beaf-36b62c7ce056",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "rnjviiKgauNwn45Z",
          "name": "SandraMar MongoDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $node[\"Code\"].json\nconst googleCalendar = $json\n\n// USAR DIRECTAMENTE LOS HORARIOS YA CORREGIDOS DEL FRONTEND\nconst startTime = d.hora\n\n// CALCULAR DURACIÓN SEGÚN TIPO DE SERVICIO\nconst duration = d.servicio === 'individual' ? 75 : 120\n\n// CALCULAR ENDTIME BASADO EN DURACIÓN\nconst [hours, minutes] = startTime.split(':').map(Number)\nconst endMinutes = hours * 60 + minutes + duration\nconst endHours = Math.floor(endMinutes / 60)\nconst endMins = endMinutes % 60\nconst endTime = `${endHours.toString().padStart(2, '0')}:${endMins.toString().padStart(2, '0')}`\n\n// VALIDACIONES DE SEGURIDAD\nif (!d.fecha || !d.hora || !d.servicio) {\n  throw new Error('Faltan datos esenciales: fecha, hora o servicio')\n}\n\nif (!startTime.match(/^\\d{2}:\\d{2}$/)) {\n  throw new Error(`Formato de hora inválido: ${startTime}. Debe ser HH:MM`)\n}\n\n// LOGGING PARA DEBUGGING\nconsole.log('📅 Procesando cita:', {\n  fecha: d.fecha,\n  horaInicio: startTime,\n  horaFin: endTime,\n  servicio: d.servicio,\n  duracion: `${duration} minutos`,\n  cliente: d.nombre,\n  pagado: d.pagado || false\n})\n\n// RETORNAR OBJETO ESTRUCTURADO PARA MONGODB\nreturn [{\n  json: {\n    // Datos esenciales para disponibilidad en el frontend\n    date: d.fecha,\n    startTime: startTime,\n    endTime: endTime,\n    serviceType: d.servicio,\n    isBooked: true,\n\n    // Datos del cliente\n    nombre: d.nombre,\n    email: d.email,\n    telefono: d.telefono,\n    whatsappJid: d.whatsappJid,\n    modalidad: d.modalidad,\n    mensaje: d.mensaje || '',\n    timezone: d.timezone,\n\n    // Detalles del servicio y modalidad\n    servicioDetalle: d.servicioDetalle,\n    modalidadDetalle: d.modalidadDetalle,\n\n    // Detalles del evento de calendario\n    title: d.title,\n    location: d.location,\n    description: d.description,\n\n    // Enlaces de Google Calendar\n    calendarEventId: googleCalendar.id,\n    calendarLink: googleCalendar.htmlLink,\n\n    // Timestamps de control\n    timestamp: d.timestamp,\n    fechaCompleta: d.fechaCompleta,\n    source: d.source,\n    createdAt: new Date().toISOString(),\n\n    // NUEVO: Datos del pago\n    pagado: d.pagado || false,\n    pagoEstado: d.pagoEstado || 'PENDING',\n    pagoTransaccionId: d.pagoTransaccionId || null,\n    pagoReferencia: d.pagoReferencia || null,\n    pagoMonto: d.pagoMonto || 0,\n    pagoMoneda: d.pagoMoneda || 'COP',\n    pagoFecha: d.pagoFecha || null,\n    pagoMetodo: d.pagoMetodo || 'desconocido',\n    \n    // Estado de la cita\n    status: d.status || 'pending_confirmation',\n\n    // NUEVO: Datos formateados para el email\n    fechaUsuario: d.fechaUsuario,\n    horaUsuario: d.horaUsuario,\n    horaFinUsuario: d.horaFinUsuario,\n    textoZonaHoraria: d.textoZonaHoraria,\n    esMismaZona: d.esMismaZona,\n\n    // Metadatos adicionales para depuración\n    processedAt: new Date().toISOString(),\n    n8nExecutionId: $execution.id || 'unknown',\n    version: '2.2'\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -144
      ],
      "id": "75ca3edb-692b-4456-b986-dccf326cba38",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        720,
        -244
      ],
      "id": "9e6cbbfc-1035-4d2a-b69d-85860f41a0d7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "fromEmail": "citas@sandravargaspsicologa.com",
        "toEmail": "={{ $node['Code1'].json.email }}",
        "subject": "=Confirmacion de tu cita - {{ $node['Code1'].json.fechaUsuario }}",
        "emailType": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { font-family: 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background: #f5f5f5; }\n    .container { max-width: 600px; margin: 0 auto; background: white; }\n    .header { background: linear-gradient(135deg, #0d9488, #0891b2); color: white; padding: 30px; text-align: center; }\n    .header img { width: 80px; height: 80px; border-radius: 50%; border: 3px solid rgba(255,255,255,0.3); margin-bottom: 15px; }\n    .header h1 { margin: 0; font-size: 24px; }\n    .header p { margin: 10px 0 0; opacity: 0.9; font-size: 14px; }\n    .content { padding: 30px; }\n    .greeting { font-size: 18px; margin-bottom: 20px; }\n    .details-box { background: #f0fdfa; border: 2px solid #14b8a6; border-radius: 12px; padding: 25px; margin: 25px 0; }\n    .details-box h2 { color: #0d9488; margin-top: 0; font-size: 20px; border-bottom: 2px solid #14b8a6; padding-bottom: 10px; }\n    .detail-row { display: flex; justify-content: space-between; padding: 12px 0; border-bottom: 1px solid #e0f2f1; }\n    .detail-row:last-child { border-bottom: none; }\n    .label { color: #666; font-weight: 500; }\n    .value { font-weight: 600; color: #0d9488; text-align: right; }\n    .timezone-note { font-size: 12px; color: #666; font-weight: normal; }\n    .location-box { background: #fef3c7; border-left: 4px solid #f59e0b; padding: 20px; margin: 20px 0; border-radius: 0 8px 8px 0; }\n    .location-box h3 { color: #b45309; margin-top: 0; }\n    .virtual-box { background: #dbeafe; border-left: 4px solid #3b82f6; padding: 20px; margin: 20px 0; border-radius: 0 8px 8px 0; }\n    .virtual-box h3 { color: #1d4ed8; margin-top: 0; }\n    .notice { background: #ecfdf5; border: 1px solid #10b981; border-radius: 8px; padding: 15px; margin: 20px 0; text-align: center; }\n    .notice strong { color: #059669; }\n    .whatsapp-btn { display: inline-block; background: #25D366; color: white; padding: 14px 28px; text-decoration: none; border-radius: 8px; font-weight: bold; margin: 15px 0; }\n    .whatsapp-btn:hover { background: #128C7E; }\n    .footer { background: #1f2937; color: #9ca3af; padding: 25px; text-align: center; font-size: 13px; }\n    .footer strong { color: white; }\n    .footer a { color: #14b8a6; text-decoration: none; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <img src=\"https://sandravargaspsicologa.com/images/logo-dra-sandra-vargas.png\" alt=\"Dra. Sandra Vargas\" />\n      <h1>Cita Confirmada</h1>\n      <p>Tu pago ha sido procesado exitosamente</p>\n    </div>\n    \n    <div class=\"content\">\n      <p class=\"greeting\">Hola <strong>{{ $node['Code1'].json.nombre }}</strong>,</p>\n      \n      <p>Tu cita ha sido agendada y confirmada. A continuacion encontraras todos los detalles:</p>\n      \n      <div class=\"details-box\">\n        <h2>Detalles de tu Cita</h2>\n        <div class=\"detail-row\">\n          <span class=\"label\">Fecha:</span>\n          <span class=\"value\">{{ $node['Code1'].json.fechaUsuario }}</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Hora:</span>\n          <span class=\"value\">{{ $node['Code1'].json.horaUsuario }}<br><span class=\"timezone-note\">({{ $node['Code1'].json.textoZonaHoraria }})</span></span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Servicio:</span>\n          <span class=\"value\">{{ $node['Code1'].json.servicioDetalle.nombre }}</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Duracion:</span>\n          <span class=\"value\">{{ $node['Code1'].json.servicioDetalle.duracion }}</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Modalidad:</span>\n          <span class=\"value\">{{ $node['Code1'].json.modalidad }}</span>\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Pago:</span>\n          <span class=\"value\">Confirmado - ${{ $node['Code1'].json.pagoMonto }} COP</span>\n        </div>\n      </div>\n      \n      {{ $node['Code1'].json.modalidad === 'presencial' ? '<div class=\"location-box\"><h3>Ubicacion del Consultorio</h3><p><strong>Carrera 13 No. 122 - 34</strong><br>Santa Barbara, Bogota<br>(Zona Norte de Bogota)<br><br>Parqueadero privado disponible</p></div>' : '' }}\n      \n      {{ $node['Code1'].json.modalidad === 'virtual' ? '<div class=\"virtual-box\"><h3>Sesion Virtual</h3><p>Te enviare el enlace de Zoom <strong>30 minutos antes</strong> de la sesion por <strong>WhatsApp</strong> al numero que registraste.<br><br>Por favor asegurate de tener una buena conexion a internet y un espacio tranquilo.</p></div>' : '' }}\n      \n      <div class=\"notice\">\n        <strong>Me pondre en contacto contigo 24 horas antes</strong> de la cita para confirmar y darte las indicaciones especificas.\n      </div>\n      \n      <p style=\"text-align: center;\">Si tienes alguna pregunta, no dudes en contactarme:</p>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"https://wa.me/573106983385\" class=\"whatsapp-btn\">Escribir por WhatsApp</a>\n      </p>\n    </div>\n    \n    <div class=\"footer\">\n      <p><strong>Sandra Margarita Vargas</strong><br>\n      Psicologa Clinica | Tarjeta Profesional: 51641450<br><br>\n      +57 310 698 3385<br>\n      <a href=\"mailto:citas@sandravargaspsicologa.com\">citas@sandravargaspsicologa.com</a><br>\n      <a href=\"https://sandravargaspsicologa.com\">sandravargaspsicologa.com</a></p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        720,
        -44
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Enviar Email Confirmacion",
      "credentials": {
        "smtp": {
          "id": "CREAR_CREDENCIAL_SMTP",
          "name": "Email Hostinger Sandra"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Email Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e60a234d-2bf9-4f95-b358-210761242eec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64a6d002e939d0f8f0a92bd5954057730ba2481393b4d30a87612fc3a2dad1ae"
  },
  "id": "mOIpXjWxjSuVE5sH",
  "tags": []
}
